<div class="filters">

  <select class="categories">
    <option value="nil">Filter by Category ...</option>
    <% all_categories.each do |cat| %>
      <option value="<%= filter_category_path(cat) %>"
              <%= request.path == filter_category_path(cat) ? 'selected=true' : nil %>>
        <%= cat.title %>
      </option>
    <% end %>
  </select>

  <select class="statuses">
    <option value="nil">Filter by Status ...</option>
    <% all_statuses.each do |status| %>
      <option value="<%= filter_status_path(status) %>"
              <%= request.path == filter_status_path(status) ? 'selected=true' : nil %>>
        <%= status.title %>
      </option>
    <% end %>
  </select>

</div>
