<%= simple_form_for current_idea, :url => new_idea_search_path do |f| %>
  <h3>Got a new idea?</h3>
  <%= f.input :title, :label => false,
              :input_html => { :placeholder => "What's your idea?" } %>
  <%= f.submit %>
<% end %>

<%= render 'ideas/filters' %>

<%= render @ideas %>
