<h1>Submit An Idea</h1>

<%= simple_form_for current_idea do |f| %>

  <%= f.input :title, :label => 'Does your idea have a name?' %>
  <%= f.input :desc_md, :label => 'Describe your idea.', :autofocus => true,
              :input_html => { :class => 'behave' } %>
  <%= f.association :category, :collection => all_categories,
                    :label => 'What type of idea is this?',
                    :required => true %>

  <%= f.submit "Next" %>
<% end %>

<% if @ideas.size > 0 %>
  <p>Here are some similar ideas. Maybe you want to comment on one of these
  instead of creating a new idea?</p>
  <%= render @ideas %>
<% end %>
