<section class="idea">
  <div class="idea-content">
    <h1>
      <%= current_idea.title %>
      <%= link_to(edit_idea_path(current_idea)) do %>
        <i class="icon-pencil"></i>
      <% end %>
    </h1>
    <%= content_tag(:span, link_to(current_idea.category.title, current_idea.category),
                    :class => 'category') %>
    <%= content_tag(:span, link_to(current_idea.status.title, current_idea.status),
                    :class => 'status') if current_idea.status_id.present? %>
    <%= content_tag(:div, current_idea.description) %>
  </div>
</section>

<section class="comments">
  <%= new_comment_form(current_idea) %>
  <%= render current_idea.comments.oldest_first %>
</section>
